@model WebPortfolio.ViewModels.ProjectVM;

<div class="isotop_item" style="@Model.Style">
    <div class="portfolio style_2 radius_20 position-relative">
        <div class="browser style_1">
            <div class="btns">
                <span></span><span></span><span></span>
            </div>
            <div class="input_filed w-100"></div>
        </div>
        <a class="portfolio_thumbnail zoom">
            <img class="zoom_in w-100" src="@Url.Content(Model.ImageUrl)" alt="">
        </a>
        <div class="portfolio_info w-100 white_color medium position-absolute">
            <h2 class="font_28 white_color medium mb-0">@Model.Title</h2>
            <div class="font_16 gap_15 d-inline-flex medium align-items-center">
                @if (Model.Link != null)
                {
                    <a href="@Model.Link" target="_blank">

                        <span class="text_btn secondary_font type_1 text-uppercase">Live</span>
                        <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0L5 4.5L0 9L0 0Z" fill="currentColor"></path>
                        </svg>
                    </a>
                }
                @if (Model.GithubLink != null)
                {
                    <a href="@Model.GithubLink" target="_blank">
                        <span class="text_btn secondary_font type_1 text-uppercase">Github</span>
                        <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0L5 4.5L0 9L0 0Z" fill="currentColor"></path>
                        </svg>
                    </a>
                }
            </div>
        </div>
    </div>
</div>